<p>

  <ion-card id="selectedFilter" *ngIf="filter === 'all'" (click)="selectFilter('all')">
    Selected ALL
  </ion-card>
  <ion-card id="notSelectedFilter" *ngIf="filter !== 'all'" (click)="selectFilter('all')">
    ALL
  </ion-card>

  <ion-card  id="selectedFilter" *ngIf="filter === 'vegetarian'" (click)="selectFilter('vegetarian')">
    Selected Vegetarian
  </ion-card>
  <ion-card  id="notSelectedFilter"  *ngIf="filter !== 'vegetarian'" (click)="selectFilter('vegetarian')">
    Vegetarian
  </ion-card>

  <ion-card id="selectedFilter"  *ngIf="filter === 'halal'" (click)="selectFilter('halal')">
    Selected Halal
  </ion-card>
  <ion-card id="notSelectedFilter" *ngIf="filter !== 'halal'" (click)="selectFilter('halal')">
    Halal
  </ion-card>

</p>
