<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Admin
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Admin</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>   
            <h4 style="font-weight: bold; text-align: center;">Canteen</h4>
            <ion-button expand="block">Edit Canteen</ion-button>
            <ion-button expand="block">Add Canteen</ion-button>
            <ion-button expand="block">Delete Canteen</ion-button>
    </ion-card>
  
  </ion-content>
  