<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Admin
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Admin</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>   
      <h4 style="font-weight: bold; text-align: center;">Monthly Completed Orders</h4>
      <ion-button expand="block" (click)="openOrdersMonthly()">View Orders</ion-button>
     
    </ion-card>

    <ion-card>   
      <h4 style="font-weight: bold; text-align: center;">Weekly Completed Orders</h4>
      <ion-button expand="block" (click)="openOrders()">View Orders</ion-button>
     
    </ion-card>

    <ion-card>   
      <h4 style="font-weight: bold; text-align: center;">Canteens</h4>
      <ion-button expand="block" (click)="addCanteenPopUp()">View Canteen</ion-button>
     
    </ion-card>

    <ion-card>   
        <h4 style="font-weight: bold; text-align: center;">Users</h4>
        <ion-button expand="block" (click)="ViewAccount()">View Account</ion-button>
        
    </ion-card>
 
  
  </ion-content>
  