<ion-header>
  <ion-toolbar>
    <ion-title>Canteens</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;">
    </ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <!--This entire section below here are all for testing purposes. You can remove them anytime-->
  <div>
    <ion-card *ngFor="let ct of canteen">
      <div class='allusers'>
        Canteen: {{ct.canteenname}} <br>
        Archived: {{ct.deleted}}
      </div>


      <!--<img src="{{ct.image}}" alt="image">-->
      <ion-button (click)="editCanteen(ct.id)">Edit</ion-button>
      <ion-button (click)="deleteCanteenPopUp(ct.id, ct.mergedname)">Delete</ion-button>
      <!--Archive button does a "Soft Delete", it just removes itself from app, but its content is still in the firestore-->
      <ion-button (click)="changeCanteenPopUp(ct.id, ct.deleted)">Archive</ion-button>
    </ion-card>
    <p *ngIf="canteen.length == 0; then pass; else fail"></p>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addCanteen()">Add</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>