<ion-header>
  <ion-toolbar>
    <ion-title>Canteens</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;">
    </ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <!--This entire section below here are all for testing purposes. You can remove them anytime-->
  <div>
    <ion-card  *ngFor="let ct of canteen">

      <ion-card-header (click)="editCanteen(ct.id)">
        <div style="width: 100%; height:100px;" [style.background-color]="ct.color"></div>
        <ion-card-title class='allusers'>
          {{ct.canteenname}}
        </ion-card-title>
        <ion-card-subtitle>Archived: {{ct.deleted}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="display: flex;">
        <div style="flex: 1; display: flex;">
          <!--Archive button does a "Soft Delete", it just removes itself from app, but its content is still in the firestore-->
          <ion-button style="font-size: 11px; margin: auto;" *ngIf="ct.deleted === false" (click)="changeCanteenPopUp(ct.id, ct.deleted)">Archive<ion-icon name="archive-outline"></ion-icon></ion-button>
          <ion-button style="font-size: 11px; margin: auto;" *ngIf="ct.deleted === true" (click)="changeCanteenPopUp(ct.id, ct.deleted)">Unarchive<ion-icon name="archive-outline"></ion-icon></ion-button>
        </div>
        <!--<div style="flex: 1; display: flex;" >
          <ion-button style="font-size: 11px; margin: auto;" (click)="deleteCanteenPopUp(ct.id, ct.mergedname)">Delete<ion-icon name="trash-outline"></ion-icon></ion-button>
        </div>-->
      </ion-card-content>
 
      <!--<img src="{{ct.image}}" alt="image">-->

    </ion-card>
    <p *ngIf="canteen.length == 0; then pass; else fail"></p>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addCanteen()">Add</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>