<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px;  padding-left: 10px"></ion-icon>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding:10px;">
      <ion-card>
    <ion-item>
      <ion-select style="font-weight: 550; font-family: 'Segoe UI';" value={{currentRole}} (ionChange)="changeRole($event)">
        <ion-select-option value="vendor">Vendor</ion-select-option>
        <ion-select-option value="student" >Student</ion-select-option>
        <ion-select-option value="sponsor" >Sponsor</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let user of userData" >
    <ion-item id="account">
      <div id="users" [routerLink]="['/tabs/tab5/viewaccount/admin-account-details', user.id]" >
        <ion-badge style="display: inline;" color="danger" *ngIf="user.listed === false"><ion-icon name="alert-outline"></ion-icon></ion-badge> 
        <ion-badge style="display: inline;" color="success" *ngIf="user.listed === true"><ion-icon name="checkmark-outline"></ion-icon></ion-badge>
     
        <div style="padding: 5px;padding-left: 10px;display: inline; vertical-align: middle;">{{user.id}}</div>
    
      </div>

        <button style="background: transparent;" ion-button icon-only (click)="presentPopover($event, user.id, user.listed, user.stampLeft)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </button>

    </ion-item>

    <ion-item *ngIf="user.role == 'student'"  style="font-size: 14px; display: flex;">

      <div (click)="openStampAlert(user.stampLeft)" style="flex: 1;">
        <p>Stamp Left: {{user.stampLeft}}</p> 
      </div>
      <div>
        <ion-button (click)="deductStamp(user.id, user.stampLeft)">-1</ion-button>
      </div>
      <div>
        <ion-button (click)="addStamp(user.id, user.stampLeft)">+1</ion-button>
      </div>

    </ion-item>
  
  </ion-card>

 


 
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currentRole != null">
    <ion-fab-button color="dark" >
      <ion-icon name="add"  (click)="addAccount()">Add Accounts</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
