<ion-header>
  <ion-toolbar>
    <ion-title>viewaccount</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-select value="vendor" (ionChange)="changeRole($event)">
        <ion-select-option value="vendor">vendor</ion-select-option>
        <ion-select-option value="student" >student</ion-select-option>
        <ion-select-option value="sponsor" >sponsor</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let user of userData" [routerLink]="['/admin-account-details', user.value]">
    <ion-item>
      {{user.id}}
    </ion-item>
  </ion-card>

</ion-content>
