<ion-header>
  <ion-toolbar>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="Logo" src="./assets/Logo.png" />

  <div id = "intro">
  <div style="font-family: 'Segoe UI';font-size: 20px;font-weight: 550;">About Us</div>
  </div>
  <div style="text-align: center;">
    <div style="text-align: left; font-size: 12px;padding: 25px;padding-top: 5px;">
      Tr-EAT is an initiatve by Campus Care Network (CCN) to assist our students in need. 

      It will be held on evert Friday where only eligible TP students are allowed to redeem a meal.

      With this initiative, everyone can contribute to make someone else's day.
      A small act of kindness which can leave a huge impact on the receiving-students . Your graciousness have allowed them to get their tummies filled!

      
    <div style="font-family: 'Segoe UI';font-size: 20px;font-weight: 550; padding-top: 10px; padding-bottom: 8px;">How Can I Donate?</div>
    <div style="color: #55559F;font-size: 12px;font-weight: 550;padding-bottom: 5px;" >Here are the steps to be taken</div>

    <div style="color: #55559F;font-size: 12px;font-weight: 550;padding-right: 5px;">#1</div> 
    <div style="padding-bottom: 5px;">Join us as a Sponsor by creating a sponsor account via 'Register' on the login page and Login</div>

    <div style="color: #55559F;font-size: 12px;font-weight: 550;padding-right: 5px;">#2</div> 
    <div style="padding-bottom: 5px;">Select a canteen which you wish to sponsor your meal from</div>

    <div style="color: #55559F;font-size: 12px;font-weight: 550;padding-right: 5px;">#3</div> 
    <div style="padding-bottom: 5px;">Select the meal and the quantity you're sponsoring. Followed by " Add to Cart"</div>

    <div style="color: #55559F;font-size: 12px;font-weight: 550;padding-right: 5px;">#4</div> 
    <div style="padding-bottom: 5px;">Proceed to Checkout where payment is made</div>
    </div>
</div>
</ion-content>
