#Logo{
    position: relative;
    z-index: 1;
     display: block;
     margin-left: auto;
     margin-right: auto;;
     margin-top: 0%;
     max-width:35%;
 }

 #intro{
    font-weight: bolder;
    font-family: "Segoe UI";
    position: relative;
    left: 8%;
}
