 <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <img id="Logo" src="./assets/Logo.png" />
    <img class="Footer" id="TYN" src="./assets/TYN.png"/>
    <img id="RICE" src="./assets/RICE.png"/>
    
    <div class="image-cropper">
      <img id="profilepic" src="./assets/ProfileImg.png" class="rounded" />
    </div>
    <div class="Footer"class="BGDrectangle">
      
      <div id="userinfo" class="Font">
        <div style="font-size: 20px;padding-top: 25px;"> Hello,</div>
        <div style="font-size: 23px;"> {{currentAccount}} </div>
      </div>

      <br>

    <div class="wrapbtnrectangle">
      <div id="btns">
        <div class="btnroundedUpdate">
          <img width="45%" style="padding-top: 4px;"  src="./assets/ProfileImg.png"/>
          <p style="margin:auto; width: 96%;">UPDATE USER INFO</p>
        </div>
        
        <div class="btnroundedFav">
          <img width="45%" style="padding-top: 4px;" src="./assets/Fav.png"/>
          <p style="margin: auto; width:97%;">Favourites</p>
        </div>
        
        <div class="btnroundedStamp" *ngIf="currentRole === 'student'" >
          <!-- <img src="./assets/RLeft.png" />--> 
          <h4>{{stamps}}</h4>
          <p>Redemption Left</p>
        </div>
    
      </div>
     
      <div *ngIf="currentRole === 'student' || currentRole === 'vendor'">
        <div class=subtitle><h6>Your Orders</h6></div>

      <!-- Rcent Order Carousel-->
      <div id="RecOdr">
        <ion-slides [options]="sliderConfigx" >
          
          <ion-slide *ngFor="let order of orderArray">
          <ion-card style="box-shadow:2">
           <div id ="coverimg" style="display: flex;">
            <div  class="coverpic" style="flex: 1;" [style.background-color] = "order.canteencolor"></div>

            <div  style="flex: 9;">
              <img class="coverpic"  src={{order.image}} />
            </div>
            <!--<img src="./assets/CanteenClrLabel.png"/>-->
            
          <ion-slide>
          <ion-card style="background-color: transparent;">
           <div id ="coverimg">
            <img class="coverpic" src="./assets/CanteenClrLabel.png"/>
            <img class="coverpic" src="./assets/FoodIMG.png" />
           </div>
    
           <div id="txtlabelposition">
            <ion-card-title id ="foodname">
              {{order.foodname}}
            </ion-card-title>
            <ion-card-subtitle id="locate">
              <!--We do not have school data, only canteen and vendor stall name, so i will be displaying the canteen data here-->
              {{order.canteenname}}
            </ion-card-subtitle>
          </div>
        
          </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card style="background-color: transparent;">
             <div id ="coverimg">
              <img class="coverpic" src="./assets/CanteenClrLabel.png"/>
              <img class="coverpic" src="./assets/FoodIMG.png" />
             </div>
      
             <div id="txtlabelposition">
              <ion-card-title id ="foodname">
                Food Name
              </ion-card-title>
              <ion-card-subtitle id="locate">
                Sch . Canteen
              </ion-card-subtitle>
            </div>
          
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      </div>
      

    </div>

    
    <ion-button style="padding-left: 15px; padding-right: 15px;"color="dark" expand="full" fill="solid" (click)="SignOut()">Log Out</ion-button>
  </div> 
    
  
   <!-- <app-explore-container name="Tab 4 page"></app-explore-container>-->
  </ion-content>
  