 <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div style="position: absolute; right:0; padding: 10px;">
      <ion-button (click)='aboutus_modal()'></ion-button>
    </div>
    
    <img id="Logo" src="./assets/Logo.png" />
    <img class="Footer" id="TYN" src="./assets/TYN.png"/>
    <img id="RICE" src="./assets/RICE.png"/>
    
    <div class="image-cropper">
      <img id="profilepic" src="./assets/ProfileImg.png" class="rounded" />
    </div>

    <div class="Footer"class="BGDrectangle">
      
      <div id="userinfo" class="Font">
        <div style="font-size: 20px;padding-top: 25px;"> Hello,</div>
        <div style="font-size: 23px;"> {{currentAccount}} </div>
      </div>
      <br>
      <br>

    <div class="wrapbtnrectangle">
      <div id="btns">
        <div class="btnprop" style="display:relative; position: relative; right: 3%;">
          <div style="text-align: center;">
          <img width="50%" style="padding-top: 3px;" src="./assets/ProfileImg.png"/>
          <p style="margin:auto; width: 95%;">UPDATE USER INFO</p>
          </div>
        </div>
        
        <div class="btnprop" style="display:block;">
          <div style="text-align: center;">
          <img width="50%" style="padding-top: 3px;" src="./assets/FavStar.png"/>
          <p style="margin:auto; width: 95%;">Favourites</p>
          </div>
        </div>

        <div class="btnprop" style="display:relative; position:relative; left:3%;"  *ngIf="currentRole === 'student'">
          <div style="text-align: center;">
          <div style="text-align: center;font-weight: bolder;font-family: 'Segoe UI'; font-size: 30px;color: #55559F;"> {{stamps}} </div>
          <p style="margin:auto; width: 95%;">Redemption Left</p>
          </div>
        </div>
        
        <!--<div class="btnroundedStamp" >-->
          <!-- <img src="./assets/RLeft.png" />--> 
         <!-- <h4>{{stamps}}</h4>
          <p>Redemption Left</p>
        </div>-->
    
      </div>
    </div>
     
      <br>
      <!--Vendor foods-->
      <div *ngIf="currentRole === 'vendor'">
        <div class=subtitle><h6>Your Foods</h6></div>
      <!-- Rcent Order Carousel-->
      <div id="RecOdr">
        <ion-slides [options]="sliderConfigx" >    
   
          <ion-slide *ngFor="let food of foodArray">
          <ion-card style="background-color: transparent;box-shadow:2;">
           <div id ="coverimg"  style="display: flex;">
            <div  class="coverpic" style="flex: 1;" [style.background-color] = "food.canteencolor"></div>

            <div  style="flex: 9;">
              <img class="coverpic"  src={{food.image}} />
            </div>
           </div>
    
           <div id="txtlabelposition">
            <ion-card-title id ="foodname">
              {{food.foodname}}
            </ion-card-title>
            <ion-card-subtitle id="locate">
              <!--We do not have school data, only canteen and vendor stall name, so i will be displaying the canteen data here-->
              {{food.canteenname}}
            </ion-card-subtitle>
          </div>
        
          </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      </div>
      
    </div>

    <br>
    <ion-button style="padding-left: 15px; padding-right: 15px;border-radius:3%" color="dark" expand="block" fill="solid"  (click)="SignOut()">Log Out</ion-button>
  
  </div>   
</ion-content>
  
 
  