<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" overflow-scroll="true">
<!--  <div style="position: absolute; right:0; padding: 10px;">
    <ion-button (click)='aboutus_modal()'></ion-button>
  </div>-->
  
  <img id="Logo" src="./assets/Logo.png" />
  <img class="Footer" id="TYN" src="./assets/TYN.png"/>
  <img id="RICE" src="./assets/RICE.png"/>
  
  <div class="image-cropper">
    <img id="profilepic" src="./assets/ProfileImg.png" class="rounded" />
  </div>

  <div class="Footer"class="BGDrectangle">
    
    <div id="userinfo" style="padding-top:25px"class="Font">
      <div style="font-size: 20px;font-weight: 650;padding-top: 25px;display: inline;"> Hello <div style="display: inline;padding-top:25px;text-transform: capitalize;">{{currentRole}} ,</div></div>
      <div style="font-size: 20px;font-weight: 550;"><i> {{currentAccount}} </i> </div>
    </div>
    <br>
    <br>

  <div class="wrapbtnrectangle">
    <div id="btns">
      <div class="btnrect"  *ngIf="currentRole === 'student'">
        <div style="text-align: center;">
        <div style="font-weight: 600;font-family: 'Segoe UI'; font-size: 30px;color: #e7c88e;"> {{stamps}} <div style="font-weight: 550;font-size: 20px;color: white;">Redemption Left </div></div>
        </div>
      </div>
      
      <!--<div class="btnroundedStamp" >-->
        <!-- <img src="./assets/RLeft.png" />--> 
       <!-- <h4>{{stamps}}</h4>
        <p>Redemption Left</p>
      </div>-->
  
    </div>
  </div>
   
    <br>
    <!--Vendor foods-->
    <div *ngIf="currentRole === 'vendor'">
      <div style="padding-top: 24px;padding-left: 10px;font-weight: 500;font-size: 17px;font-family: 'Segoe UI';">Your Foods</div>
    <!-- Rcent Order Carousel-->
    <div id="RecOdr">
      <ion-slides [options]="sliderConfigx" >    
 
        <ion-slide *ngFor="let food of foodArray" >
        <ion-card style="background-color: white;box-shadow:1;">

         <div id ="coverimg"  style="display: flex;">
          <div  class="coverpic" style="flex: 1;" [style.background-color] = "food.canteencolor"></div>

          <div  style="flex: 9;">
            <img class="coverpic"  src={{food.image}} />
          </div>
     <!-- <ion-slides [options]="sliderConfigx" >
        
        <ion-slide>
        <ion-card style="background-color: transparent;">
         <div id ="coverimg">
          <img class="coverpic" src="./assets/CanteenClrLabel.png"/>
          <img class="coverpic" src="./assets/FoodIMG.png" />-->
         </div>
  
         <div id="txtlabelposition">
          <ion-card-title id ="foodname" style="font-size: 14px;">
            {{food.foodname}}
          </ion-card-title>
          <ion-card-subtitle id="locate">
            <!--We do not have school data, only canteen and vendor stall name, so i will be displaying the canteen data here-->
            {{food.canteenname}}
          </ion-card-subtitle>
        </div>
      
        </ion-card>
        </ion-slide>

      </ion-slides>
    </div>

    </div>

    <div style="padding-top: 24px;padding-left: 30px;font-weight: 590;font-size: 17px;font-family: 'Segoe UI';">Your Favourites</div>
    <div id="RecOdr">
      <ion-slides [options]="sliderConfigx" >    
 
        <ion-slide *ngFor="let food of fav" >
        <ion-card style="background-color: white;box-shadow:1;border-radius: 10px; padding:10px;">
          <div id="coverimg">
            <img class="coverpic" id="fdimg" width="100%" src={{food.image}} />
          </div>
          <div style="display:flex; padding-top: 8px; padding-bottom: 8px; ">
            <div style="flex:1;padding-left: 5px ; padding-top:5px; ">
              <div style="width: 150px;max-height: 17px; display:flex;text-align:left; font-weight: 550;color: black;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                {{food.foodname}}
              </div>
              <div style="width:100%; display:flex;font-size: 12px;padding-top: 3px;">
                {{food.foodprice | currency}}
              </div>
              <div style="width:100%; display:flex;font-size: 12px;padding-top: 3px;padding-bottom: 3px;">
               <i> Available Qty: {{food.availquantity}}</i>
              </div>
            </div>
            <div>
              <button style="background: transparent;" (click)='deleteFoodbyFavourites(food.id)' ><ion-icon  size="small" name="star-sharp"></ion-icon></button>
            </div>
          </div>

        
      
        </ion-card>
        </ion-slide>

      </ion-slides>
      </div>
    

  <br>
  <ion-button style="padding-left: 15px; padding-right: 15px;border-radius:3%" color="dark" expand="block" fill="solid"  (click)="SignOut()"><b>Log Out</b></ion-button>
    <br>
</div>   
</ion-content>


