<ion-tabs>
  <!--This page is just to link the other tabs from Tab1 to Tab4-->
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="tab1" id="home">
        <ion-icon name="home"></ion-icon><!--For sponsors, student and admin-->
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2" id="order" *ngIf="currentRole == 'sponsor' || currentRole == 'vendor'">
        <ion-icon name="cart"></ion-icon> <!--For sponsors and vendor-->
        <ion-label>Orders</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab4" id="favourite" *ngIf ="currentRole == 'student'">
        <ion-icon name="heart"></ion-icon> <!--For students-->
        <ion-label>Favourites</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" id="history" *ngIf="currentRole == 'student' || currentRole == 'vendor'">
        <ion-icon name="receipt"></ion-icon> <!-- For students and vendors-->
       <ion-label>History</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" id="history" *ngIf="currentRole =='sponsor'">
       <!--<img src="assets/icon/charge-back.png" *ngIf="currentRole == 'sponsor'"/>-->  <!--Make it similar to the other icon such that when it is clicked, the icon color will change. Otherwise try find another way to do so.--->
       <ion-icon name="wallet" ></ion-icon> <!---For sponsors--->
       <ion-label>History</ion-label>
      </ion-tab-button>


      <!---For Admin Users--->
      <ion-tab-button tab="tab5" id="admin" *ngIf="currentRole == 'admin'">
        <!---<ion-icon name="home"></ion-icon>--->
        <ion-label>Admin</ion-label>
      </ion-tab-button>
  
      
    </ion-tab-bar>
  
  </ion-tabs>