<ion-header>
  <ion-toolbar>
    <ion-title>foodlist</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>Vendor: {{stall}}</h6>

  <!----Filter button---->
  <ion-button (click)="filter($event)">
    <ion-icon name="funnel-outline"></ion-icon>Filter
  </ion-button>
  
  <!--Food data shown to sponsors and vendor-->
  <div *ngIf="userRole === 'sponsor' || userRole === 'vendor' || userRole === 'admin'" >
    <ion-card  *ngFor = "let food of foodlistArray | keyvalue;">
      <ion-item>
        
        <img width="50%" src = {{food.value.image}} />
      
        {{food.value.foodname}} -  ${{food.value.foodprice}}
        <button *ngIf="userRole === 'sponsor'" (click)="CartFood(food.value.id, food.value.foodname, food.value.userid)">Add to Cart</button>
     
        <!--Increase and decrease amount to be added to cart-->
        <div *ngIf="userRole === 'sponsor'">
          <ion-button (click)="deductAmt(food.value.id)">-1</ion-button>
          {{food.key | cartitemcount: valueArray | async}}
          <ion-button (click)="addAmt(food.value.id)">+1</ion-button>
        </div>
         
        
      </ion-item>  
    </ion-card>

     <!--Shown for sponsors-->
    <p *ngIf="foodlistArray.length == 0">No "{{chosenFilter}}" Food Retrieved</p>
  </div>
 


 <!--Food data shown to students-->
 <div *ngIf="userRole === 'student' ">
  <ion-card   *ngFor = "let food1 of redeemfoodArray">
    <ion-item>
      
      <img width="50%" src = {{food1.image}} />
    
      {{food1.foodname}} - {{food1.foodprice | currency}} - {{food1.availquantity}}

      <button *ngIf="userRole === 'student' && stampsLeft > 0 && orderid === ''" (click)="RedeemFood(food1.id, food1.foodname, food1.foodprice, food1.userid, food1.image)">redeem</button>
      
    </ion-item>  
  </ion-card>
   <!--Shown for students-->
    <p *ngIf="redeemfoodArray.length ==0">No "{{chosenFilter}}" Food Retrieved</p>

 </div>





 
 <!---Cart to be shown at the bottom of the screen, only for sponsors to see--->
 <ion-button id="cart_bottom" (click)="cartPage()" *ngIf="userRole === 'sponsor'"><ion-icon name="cart"></ion-icon>Cart Total: {{totalPriceAll | currency: 'SGD'}} <ion-badge color="danger">Amount inside {{countCart}}</ion-badge></ion-button>
  


</ion-content>
