:root {
    --ion-color-newp:#522158;
    --ion-color-newp-rgb: 82,33,88;
    --ion-color-newp-contrast: #ffffff;
    --ion-color-newp-contrast-rgb: 255,255,255;
    --ion-color-newp-shade: #372158;
    --ion-color-newp-tint: #582143;
  }

  .ion-color-newp{
    --ion-color-base: var(--ion-color-newp);
    --ion-color-base-rgb: var(--ion-color-newp-rgb);
    --ion-color-contrast: var(--ion-color-newp-contrast);
    --ion-color-contrast-rgb: var(--ion-color-newp-contrast-rgb);
    --ion-color-shade: var(--ion-color-newp-shade);
    --ion-color-tint: var(--ion-color-newp-tint);
  }

#Logo{
    position: relative;
    z-index: 1;
     display: block;
     margin-left: auto;
     margin-right: auto;;
     margin-top: 0%;
     max-width:40%;
 
 }
 .Footer{
     position:fixed;
     right:0;
     bottom:-15px;
     margin:0;
     padding:0;
     width:75%;
 }
 #TYN{
     right:-20px;
     overflow: visible;
     max-width: 55%;
     opacity: .5;
 }
 #RICE{
     position: absolute;
     top: -30px;
     left:-50px;
     overflow: visible;
     max-width: 52%;
     opacity: .25;
 }
 #intro{
    position: relative;
    left: 8%;
}

.font{
    font-family: 'Segoe UI';
    font-weight: bold;
}
 .subtitle{
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
    position: relative;
    left: 8%;
}

.coverpic{
    height: 150px!important;
    width: auto;
}

#txtlabelposition{
    text-align: left;
    margin: 10px;
}
#foodname{
    font-size: 16px;
    font-family: 'Segoe UI';
    margin-top: 10px;
}
#locate{
    font-size: 12px;
    font-family: 'Segoe UI';
    margin-top: 3px;
}
#cart_bottom{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1;
}

  #fdimg {
    display: inline;
    height: 120px;
    width: 110px; 
    border-radius: 13px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    
  }

  //Horizontal scrolling for ngFor food type
  .foodtype {
  width: 100px;
  overflow: hidden; 
  white-space: nowrap;
  padding-right: 20px;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
  }
}
