<ion-header>
  <ion-toolbar>
    <ion-title>foodlist</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

  <ion-content >
    <div style="position: absolute; right:0; padding: 10px;">
      <ion-button (click)='aboutus_modal()'></ion-button>
    </div>
    
    <img id="Logo" src="./assets/Logo.png" />
    <img class="Footer" id="TYN" src="./assets/TYN.png"/>
    <img id="RICE" src="./assets/RICE.png"/>
  
    <div id = "intro">
      <div class="font" style="font-size: 20px;">Welcome to</div>
      <div class="font" style="font-size: 25px;"> Vendor:{{stall}} </div>
    </div>
      <br>
      <br>
      
        <!----Filter button---->
        <div style="text-align: right;margin-right: 15px;">
    <ion-button (click)="filter($event)" shape="round" size="small">
      <ion-icon name="funnel-outline"></ion-icon> Filter
    </ion-button>
  </div>
      <div class="subtitle">Items Available</div>
    
     <ion-card>
      <div style="text-align: left; padding:8px; "><img style="height:110px; width: 110px;" src="./assets/FoodIMG.png"/></div> 

    </ion-card>
  
    <div id = "intro">
      <div class="font" style="font-size: 20px;">Welcome to</div>
      <div class="font" style="font-size: 25px;"> Vendor:{{stall}} </div>
    </div>
      <br>
      <br>

        <!----Filter button---->
        <div class='subtop'>
            <div id="top">  
              <div class="subtitle" style="position: relative; ">Items Available</div>
              <div style="text-align: right; position: relative; margin-left: 140px;">
              <ion-button style="margin-right: 15px;" (click)="filter($event)" shape="round" size="small">
                <ion-icon name="funnel-outline"></ion-icon> Filter
              </ion-button>
              </div>
            </div>
        </div>
    
      <div *ngIf="userRole === 'sponsor' || userRole === 'vendor' || userRole === 'admin'" >
     <ion-card *ngFor = "let food of foodlistArray | keyvalue;">
      <div style="text-align: left; padding:8px; display: inline-block; "><img style="height:90px; width: 90px;" src={{food.value.image}}/></div> 
      <div style="display:inline-block; text-align: left; padding: 5px;">
      <ion-card-subtitle style="font-size: 10px;">${{food.value.foodprice}}</ion-card-subtitle>
      <ion-card-subtitle style="font-size: 13px;"> {{food.value.foodname}} </ion-card-subtitle><br>
      <ion-card-subtitle style="font-size: 9px;">Food Description</ion-card-subtitle>
      </div>
   <div *ngIf="userRole == 'student'" style="text-align: right;"><ion-button style="display: inline-block" size="small" color="dark">REDEEM</ion-button></div>
    </ion-card>
  
  <!--Food data shown to sponsors and vendor-->
  <!--<div *ngIf="userRole === 'sponsor' || userRole === 'vendor' || userRole === 'admin'" >
    <ion-card  *ngFor = "let food of foodlistArray | keyvalue;">
      <ion-item>
        
        <img width="50%" src = {{food.value.image}} />-->
      
        {{food.value.foodname}} -  ${{food.value.foodprice}}
        <button *ngIf="userRole === 'sponsor'" (click)="CartFood(food.value.id, food.value.foodname, food.value.userid)">Add to Cart</button>
     
        <!--Increase and decrease amount to be added to cart-->
        <div *ngIf="userRole === 'sponsor'">
          <ion-button (click)="deductAmt(food.value.id)">-1</ion-button>
          {{food.key | cartitemcount: valueArray | async}}
          <ion-button (click)="addAmt(food.value.id)">+1</ion-button>
        </div>
         
        
     <!-- </ion-item>  
    </ion-card>-->

     <!--Shown for sponsors-->
    <p *ngIf="foodlistArray.length == 0">No "{{chosenFilter}}" Food Retrieved</p>
  </div>
 


 <!--Food data shown to students-->
 <div *ngIf="userRole === 'student' ">
  <ion-card   *ngFor = "let food1 of redeemfoodArray">
    <ion-item>
      
      <div class="image-cropper">
      <img id="fdimg" width="100%" src = {{food1.image}} />
    </div>

      {{food1.foodname}} - {{food1.foodprice | currency}} - {{food1.availquantity}}

      <button *ngIf="userRole === 'student' && stampsLeft > 0 && orderid === ''" (click)="RedeemFood(food1.id, food1.foodname, food1.foodprice, food1.userid, food1.image)">redeem</button>
      
    </ion-item>  
  </ion-card>
   <!--Shown for students-->
    <p *ngIf="redeemfoodArray.length ==0">No "{{chosenFilter}}" Food Retrieved</p>

 </div>





 
 <!---Cart to be shown at the bottom of the screen, only for sponsors to see--->
 <ion-button id="cart_bottom" (click)="cartPage()" *ngIf="userRole === 'sponsor'"><ion-icon name="cart"></ion-icon>Cart Total: {{totalPriceAll | currency: 'SGD'}} <ion-badge color="danger">Amount inside {{countCart}}</ion-badge></ion-button>
  

</ion-content>
