

#Logo{
    position: relative;
    z-index: 1;
     display: block;
     margin-left: auto;
     margin-right: auto;;
     margin-top: 0%;
     max-width:40%;
 
 }
 .Footer{
     position:fixed;
     right:0;
     bottom:-15px;
     margin:0;
     padding:0;
     width:75%;
 }
 #TYN{
     right:-20px;
     overflow: visible;
     max-width: 55%;
     opacity: .5;
 }
 #RICE{
     position: absolute;
     top: -30px;
     left:-50px;
     overflow: visible;
     max-width: 52%;
     opacity: .25;
 }

 #Headertxt{
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 30px;    
    text-align: center;
}

.headercnt{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;    
    text-align: center;
    color: #55559F;
}

.rdmlabel{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16px;    
    text-align: center;
    color:black;
}
#foodname{
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 35px;    
    text-align: center;
    color: #55559F;
}
#cntxt{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;    
    text-align: center;   
    color: black;
}

#clipboard:active{
    background-color: rgba(#000000, 0.3);
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

