<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h5>YOUR CART</h5>

  <!---Cart here--->
  <ion-card>
    <ion-item  *ngFor="let cart of cartArray">

      <!--Quantity-->
      <div>
        <ion-icon name="remove-outline" (click)="decreaseAmt(cart.orderquantity, cart.id)"></ion-icon>
        {{cart.orderquantity}}
        <ion-icon name="add-outline" (click)="increaseAmt(cart.orderquantity, cart.id)"></ion-icon>
      </div>

      <!--Food name-->
      <div>
        {{cart.id | foodname | async}}
      </div>

      <!--Price-->
      <div>
        Price:  ${{cart.id | foodprice: cart.orderquantity | async | currency: 'SGD'}}
      </div>
     
    </ion-item>
  </ion-card>

  <!--Payment here-->


 
</ion-content>
