<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!--<div style="position: absolute; right:0; padding: 10px;">
    <ion-button (click)='aboutus_modal()'></ion-button>
  </div>-->
  <img id="Logo" src="./assets/Logo.png" />
  <img class="Footer" id="TYN" src="./assets/TYN.png"/>
  <img id="RICE" src="./assets/RICE.png"/>

  

  <!--Only sponsors will see this-->
  <div *ngIf="userRole ==='sponsor'">
    <div id = "intro">
    <div style="font-family: 'Segoe UI';font-size: 22px;font-weight: bold;">YOUR CART</div>
    </div>
    

  <!---Cart here--->
  <ion-card>
    
    <div style="font-family: 'Segoe UI';font-size: 12px;font-weight:550;padding: 30px;padding-bottom: 0px; padding-top: 15px;">
      <div style="display: inline-block;padding-left: 18px;">
        Qty
      </div>
      
      <div style="display: inline-block;padding-left: 30px;">
           Food Item(s)
      </div>
  
      <div style="display: inline-block;padding-left: 100px;">
        Price
      </div>
      </div>

    <ion-item style="padding-left:5px;padding-right: 5px;" *ngFor="let cart of cartArray">

      <!--Quantity-->
      <div style="padding-right:20px;vertical-align:middle;">
        <ion-icon style="padding-right: 10px;" name="remove-outline" (click)="decreaseAmt(cart.orderquantity, cart.id)">-</ion-icon>
       <b>{{cart.orderquantity}}</b>
        <ion-icon style="padding-left: 5px;" name="add-outline" (click)="increaseAmt(cart.orderquantity, cart.id)"></ion-icon>
      </div>

      <!--Food name-->
      <div>
        <div style="font-family: 'Segoe UI';width:160px;font-size: 15px;font-weight:550;"> {{cart.foodname}}</div>
      </div>

      <!--Price-->
      <div>
        <div style="font-family: 'Segoe UI';font-size: 15px;font-weight:550;"> {{cart.totalfoodprice | currency}} </div>
      </div>
     
    </ion-item>
    

     <!--Total Price-->
    <ion-item>
      <div style="font-family: 'Segoe UI';font-size: 18px;font-weight:bold;display: inline;padding-top: 20px;padding-bottom: 20px;margin-left: 85px;">
        Total <div style="font-size: 20px;font-weight: bold;padding-left: 90px;display: inline;"> {{totalPriceAll | currency}} </div>
      </div>
    </ion-item>
  </ion-card>

  <!--Payment selection-->
  <ion-card>
   <div style="padding-left: 15px;padding-top: 5px;font-weight: 550;"> Payment Method </div>
  <ion-select style="font-weight: 550;color: black;" value="OCBC" (ionChange)="changePaymentMtd($event.detail.value)">
    <ion-select-option value="OCBC">OCBC - PAYNOW</ion-select-option>
    <ion-select-option value ="UOB">UOB - PAYNOW</ion-select-option>
    <ion-select-option value="DBS">DBS - PAYLAH</ion-select-option>
  </ion-select>
</ion-card>

  <!--Payment here-->
  <ion-button color="primary" style="padding-left:15px;padding-right: 15px; font-weight: bold;"*ngIf="totalPriceAll !== 0" [disabled]="disabled === true" (click)="proceedPayment()" expand="block">Proceed W Payment</ion-button>
  </div>
  



  <!--When student click on redeem, the receipt will be shown here-->
  <div *ngIf="userRole === 'student'">
    <div style="padding-left: 20px;padding-right: 20px; font-family: 'Segoe UI';font-size: 15px;font-weight: 550;"  *ngIf="receiptData.orderid === ''"><i>[Error Msg]Collection verification page: No Food has been redeemed</i></div>
   

    <div *ngIf="receiptData.orderid !==''">
 
      <div id="Headertxt" style="padding:10px;padding-bottom: 5px;">REDEEMPTION SUCCESSFUL!</div>
      <ion-card style="background-color: #FFE7E7;">
        <div style="padding: 20px;"></div>
       <div class="headercnt">
         <div class="rdmlabel">Redemption Number</div><i style="color: #55559F;"> #{{receiptData.orderid}}</i></div>
        
          <br>
          <br>
          <!--Food Name-->
          <div id="foodname">{{receiptData.foodname}}</div>
       
          <br> 
          <br>
          <!--Canteen--><!--Vendor Stall Name-->
          <div>
          <div id="cntxt">{{receiptData.canteenname}} • {{receiptData.stallname}}</div>
          </div>
          <br>
          <div style="padding: 20px;"></div>
      </ion-card>
      
      <div style="text-align: center;">
         <ion-button style="padding-left: 10px; padding-right: 10px; padding-top: 5px; font-weight: bold;" color="success" expand="block" fill="solid" (click)="collected()">COLLECTED</ion-button>
         </div>
    </div>

    
    
  </div>



  <!--Show latest orders from students that is pending-->
  <div *ngIf="userRole === 'vendor'">
      <div style="padding-left: 20px;padding-right: 20px; font-family: 'Segoe UI';font-size: 15px;font-weight: 550;"  *ngIf="vendorOrderArray.length == 0"><i>[Error Msg]Uncompleted orders will be shown here</i></div>
    <ion-card *ngFor="let order of vendorOrderArray">
    <div style="padding: 8px;">
        <!--Redemption order ID-->
        <div style="padding-top: 5px;padding-bottom: 5px;">
         Order ID:
         <div style="font-size: 17px;font-weight: 550;padding-left: 10px;" >#{{order.id}}</div>
        </div>  

       <!---Customer--->
       <div style="padding-top: 5px;padding-bottom: 5px;">
        <div style="font-weight: 500;font-size: 15px;">Ordered By:</div>
     <div style="font-size: 17px;font-weight: 550;padding-left: 10px" >{{order.userID}}</div>
      </div>

        <!--Food name-->
        <div style="padding-top: 5px;padding-bottom: 5px;">
          Food Ordered:
          <div style="font-size: 15px;font-weight: 550;padding-left: 10px" >{{order.foodname}}</div>
        </div>

       
        <!--Date-->
        <div style="padding-top: 5px;padding-bottom: 5px;">
          <div style="font-size: 15px;font-weight: 500; float:right;" >{{order.date?.toDate() | date: 'mediumTime'}}</div>
        </div>
    </div>
    </ion-card>

  </div>


 
 
</ion-content>
