<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="position: absolute; right:0; padding: 10px;">
    <ion-button (click)='aboutus_modal()'></ion-button>
  </div>
  
  <img id="Logo" src="./assets/Logo.png" />
  <img class="Footer" id="TYN" src="./assets/TYN.png"/>
  <img id="RICE" src="./assets/RICE.png"/>

 

  <!--Only sponsors will see this-->
  <div *ngIf="userRole ==='sponsor'">
    <h5>YOUR CART</h5>

  <!---Cart here--->
  <ion-card>
    <ion-item  *ngFor="let cart of cartArray">

      <!--Quantity-->
      <div>
        <ion-icon name="remove-outline" (click)="decreaseAmt(cart.orderquantity, cart.id)"></ion-icon>
        {{cart.orderquantity}}
        <ion-icon name="add-outline" (click)="increaseAmt(cart.orderquantity, cart.id)"></ion-icon>
      </div>

      <!--Food name-->
      <div>
        {{cart.foodname}}
      </div>

      <!--Price-->
      <div>
        Price:  {{cart.totalfoodprice | currency}}
      </div>

      
     
    </ion-item>

     <!--Total Price-->
    <ion-item>
      <div>
        Total {{totalPriceAll | currency}}
      </div>
    </ion-item>
  </ion-card>

  <!--Payment selection-->
  <ion-select value="PAYNOW" (ionChange)="changePaymentMtd($event.detail.value)">
    <ion-select-option value="PAYNOW">PAYNOW</ion-select-option>
    <ion-select-option value="PAYLAH">PAYLAH</ion-select-option>
  </ion-select>

  <br>
  <p>Do sent to <b>+65 12345678</b> during payment.</p>

  <!--Payment here-->
  <ion-button *ngIf="totalPriceAll !== 0" [disabled]="disabled === true" (click)="proceedPayment()">Proceed W Payment</ion-button>
  </div>
  



  <!--When student click on redeem, the receipt will be shown here-->
  <div *ngIf="userRole === 'student'">

    <div *ngIf="receiptData.orderid === ''">
      Food that is pending collection after redeeming, will be shown here. You are only entitled to <b>1 Redemption</b> per day.
    </div>

    <div *ngIf="receiptData.orderid !==''">
 
      <div id="Headertxt">REDEEMPTION SUCCESSFUL!</div>
      <div style="padding: 5px;"></div>
      <ion-card style="background-color: #FFE7E7;">
        <div style="padding: 20px;"></div>
       <div class="headercnt">
         <div class="rdmlabel">Redemption Number</div><i style="color: #55559F;"> #{{receiptData.orderid}}</i></div>
        
          <br>
          <br>
          <!--Food Name-->
          <div id="foodname">{{receiptData.foodname}}</div>
       
          <br> 
          <br>
          <!--Canteen--><!--Vendor Stall Name-->
          <div>
          <div id="cntxt">{{receiptData.canteenname}} • {{receiptData.stallname}}</div>
          </div>
          <br>
          <div style="padding: 20px;"></div>
      </ion-card>
      
      <div style="text-align: center;">
         <ion-button style="padding-left: 10px; padding-right: 10px; padding-top: 5px; font-weight: bold;" color="success" expand="block" fill="solid" (click)="collected()">COLLECTED</ion-button>
         </div>
    </div>

    
    
  </div>



  <!--Show latest orders from students that is pending-->
  <div *ngIf="userRole === 'vendor'">
    <div *ngIf="vendorOrderArray.length == 0">Uncompleted orders will be shown here</div>
    <ion-card *ngFor="let order of vendorOrderArray">

        <!--Redemption order ID-->
        <div>
          #{{order.id}}
        </div>       
      
        <!--Food name-->
        <div>
          {{order.foodname}}
        </div>

        <!--Date-->
        <div>
          {{order.date?.toDate() | date: 'mediumTime'}}
        </div>

        <!---Customer--->
        <div>
          {{order.userID}}
        </div>
     
    </ion-card>

  </div>


 
 
</ion-content>
