<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <!--This entire section below here are all for testing purposes. You can remove them anytime-->
  <div>
    <h4>Testing firebase (Canteen DataTable)</h4>
    
      <ion-card *ngFor = "let ct of canteen">
        <div class='allusers'>
          Canteen ID: {{ct.id}}
        </div>
        
        <img src="{{ct.image}}" alt = "image">   
      </ion-card>

      <p *ngIf = "canteen.length == 0; then pass; else fail"></p>
      <ng-template #pass> Loading...</ng-template>
      <ng-template #fail> Loaded</ng-template>

   
  </div>

  <ion-button (click)="SignOut()">Log Out</ion-button>
  
</ion-content>