.canteen{
    width: 100%;
    height: 100%;
}

#canteen_txt{
    font-size: 12px;
    position: relative;
    top:30%;
    background-color: rgba(white, 0.5);
    color: black;
    font-weight: bold;
}

#slider{
    height: 100%;
}
