<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!---Show completed orders for vendors--->
  <div *ngIf="userRole === 'vendor'">
    <div *ngIf="orderArray.length == 0">Orders completed will be shown here</div>
    <ion-card *ngFor="let order of orderArray">

         <!--Redemption order ID-->
         <div>
          {{order.id}}
        </div>       
      
        <!--Food name-->
        <div>
          {{order.foodname}}
        </div>

        <!--Date-->
        <div>
          {{order.date?.toDate() | date: 'mediumTime'}}
        </div>

        <!---Customer--->
        <div>
          {{order.userID}}
        </div>

    </ion-card>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <img id="Logo" src="./assets/Logo.png" />
  <img class="Footer" id="TYN" src="./assets/TYN.png"/>
  <img id="RICE" src="./assets/RICE.png"/>

  <ion-card style="background-color: transparent;">
    <div id ="coverimg">
     <img class="coverpic" src="./assets/CanteenClrLabel.png"/>
     <img class="coverpic"style="width:max-content;" src="./assets/FoodIMG.png" />
    </div>

    <div id="txtlabelposition">
     <ion-card-title id ="foodname">
       Food Name
     </ion-card-title>
     <ion-card-subtitle id="locate">
       Sch . Canteen
     </ion-card-subtitle>
   </div>
 
   </ion-card>

   <ion-card style="background-color: transparent;">
    <div id ="coverimg">
     <img class="coverpic" src="./assets/CanteenClrLabel.png"/>
     <img class="coverpic"style="width:max-content;" src="./assets/FoodIMG.png" />
    </div>

    <div id="txtlabelposition">
     <ion-card-title id ="foodname">
       Food Name
     </ion-card-title>
     <ion-card-subtitle id="locate">
       Sch . Canteen
     </ion-card-subtitle>
   </div>
 
   </ion-card>

  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
