<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!---Show completed orders for vendors--->
  <div *ngIf="userRole === 'vendor'">
    <div *ngIf="orderArray.length == 0">Orders completed will be shown here</div>
    <ion-card *ngFor="let order of orderArray">

         <!--Redemption order ID-->
         <div>
          {{order.id}}
        </div>       
      
        <!--Food name-->
        <div>
          {{order.foodname}}
        </div>

        <!--Date-->
        <div>
          {{order.date?.toDate() | date: 'mediumTime'}}
        </div>

        <!---Customer--->
        <div>
          {{order.userID}}
        </div>

    </ion-card>
  </div>

  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
