<ion-header>
  <ion-toolbar>
    <ion-title>Add Canteen</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

<!--Code below is for the Enter canteen name function card-->
<ion-content class="ion-padding">
  <form [formGroup]="canteenForm" (ngSubmit)="submitCanteen(canteenForm)">
    <ion-card>
      <ion-item>
        <ion-label position="floating"> Enter Canteen Name: </ion-label>
        <ion-input type="text" formControlName="canteenname"></ion-input>
        <!-- <ion-icon *ngIf="canteenname.invalid && (canteenname.dirty || canteenname.touched)" name="alert-circle"
          color="danger"></ion-icon> -->
      </ion-item>
    </ion-card>

    <!-- upload image: This function is for uploading images to firestore and displaying them in the modal. Commented off as using color picker  
    <ion-card>
      <ion-item>
        <div id="center">
          <img src="{{canteen.image}}" alt='image' width="50%;" *ngIf="files == null" />
          <img src="{{files}}" alt='image' width='50%' *ngIf="files != null" />
        </div>
      </ion-item>
      <ion-item>
        <div id="centerv2">
          <ion-button color="success" shape="round" size="small">
            <span>Select Image</span>
            <input id="files" type="file" formControlName="canteenimage" (change)="onFileSelected($event)" />
          </ion-button>
        </div>
      </ion-item>
      <p *ngIf = "canteen.length == 0; then pass; else fail"></p>
    </ion-card>-->

    <!--This card is for choosing what color the canteen should be-->
    <ion-card>
      <ion-item>
        <div>
          <ion-label> Choose Canteen colour: </ion-label>
        </div>
        <div>
          <ion-button class="color-picker">Color Picker</ion-button>
        </div>
      </ion-item>
    </ion-card>
    <!-- submit form -->
    <ion-button type="submit">Proceed</ion-button>
  </form>
</ion-content>