<ion-header>
  <ion-toolbar>
    <ion-title>Edit Canteen</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="editcanteen_form" (ngSubmit)="editCanteen(editcanteen_form.value)">
    <ion-card>
      <ion-item>
        <ion-label position="floating"> Enter Canteen Name: </ion-label>
        <ion-input type="text" formControlName="canteenname" [(ngModel)]="canteen.canteenname"></ion-input>
      </ion-item>
    </ion-card>

    <!--Commented off Codes below is for the edit canteen based on images-->
    <!--
      <ion-item>
        <div id="centerv2">
          <ion-button color="success" shape="round" size="small">
            <span>Change Image</span>
            <input id="files" type="file" (change)="onFileSelected($event)" />
          </ion-button>
        </div>
      </ion-item>-->

    <!--Below is the code for choosing a different color for the canteens to be displayed-->
    <ion-card>
      <ion-item>
        <div>
          <ion-label> Choose Canteen colour: </ion-label>
        </div>
        <div>
          <ion-button class="color-picker">Color Picker</ion-button>
        </div>
      </ion-item>
    </ion-card>

    <ion-input hidden formControlName="mergedName" value={{canteen.mergedName}}>{{canteen.mergedName}}</ion-input>
    <ion-button type="submit">Confirm</ion-button>
  </form>


</ion-content>