<ion-header>
  <ion-toolbar>
    <ion-title>Edit Canteen Details</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form style="padding:10px" [formGroup]="editcanteen_form" (ngSubmit)="editCanteen(editcanteen_form.value)">
    <ion-card style="padding:14px;">
      <div style="font-family: 'Segoe UI'; font-size: 13px;font-weight: 550;padding-bottom: 5px; color: black;">Canteen Color Label: </div>
      <div style="width: 100%; height:100px;" [style.background-color]="colorChose"></div>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label style="font-family: 'Segoe UI'; font-weight: 550;padding-bottom: 5px" position="floating"> Enter Canteen Name: </ion-label>
        <ion-input style="font-family: 'Segoe UI';font-weight:550; font-size: 20px;" type="text" formControlName="canteenname" [(ngModel)]="canteen.canteenname"></ion-input>
      </ion-item>
    </ion-card>

    <!--Commented off Codes below is for the edit canteen based on images-->
    <!--
      <ion-item>
        <div id="centerv2">
          <ion-button color="success" shape="round" size="small">
            <span>Change Image</span>
            <input id="files" type="file" (change)="onFileSelected($event)" />
          </ion-button>
        </div>
      </ion-item>-->

    <!--Below is the code for choosing a different color for the canteens to be displayed-->
    <ion-card style="padding:14px;">
        <div style="font-family: 'Segoe UI'; font-size: 13px;font-weight: 550;padding-bottom: 5px; color: black;">
           Change Canteen Colour Label: 
        </div>
        <div>
          <ion-button style="padding-left: 10px;" class="color-picker">Color Picker</ion-button>
        </div>
    </ion-card>

    <ion-input hidden formControlName="mergedName" value={{canteen.mergedName}}>{{canteen.mergedName}}</ion-input>
    <ion-button style="padding-left: 9px;padding-right: 7px;  font-family: 'Segoe UI'; font-weight: 550;" expand="block" type="submit">Confirm</ion-button>
  </form>


</ion-content>