<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">

  <div style="position: absolute; right:0; padding: 20px;">
    <ion-icon (click)='aboutus_modal()' size=large name="information-circle-outline"></ion-icon> 
  </div>

  <img id="Logo" src="./assets/Logo.png" />
  <img class="Footer" id="TYN" src="./assets/TYN.png" />
  <img id="RICE" src="./assets/RICE.png" />


  <div>
    <ion-searchbar [(ngModel)]="search_text" animated cancelButtonText="Cancel" showCancelButton="focus"
      placeholder="Enter food name" showcancelbutton="Cancel" (ionInput)="getItems($event)">
    </ion-searchbar>
  </div>

  <!--Users to refresh by pulling down the page-->
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.1" pullMin="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Food data shown to sponsors and vendor and admin-->
  <div *ngIf="userRole === 'sponsor' || userRole === 'vendor' || userRole === 'admin'">

    <ion-card class='food_container' *ngFor="let food of foodlist | keyvalue;">
      <ion-item
        *ngIf="food.value.userlisted === true && food.value.userdeleted === false && food.value.canteendeleted === false">
        <div class="image-cropper">
          <img id="fdimg" width="100%" src={{food.value.image}} />
        </div>
        
        <div style="display: flex; width: 65%;">
          <div style="flex: 6;">

            <div style="width:90%; height:max-content;display: inline-block;padding-right: 10px;">
              <div style="font-family: 'Segoe UI';font-size: 13px;color:black;font-weight: 650;padding-bottom: 5px;padding-left: 2px;">{{food.value.foodname}}</div>
              <div style="font-weight: 500; font-size: 12px;padding-bottom: 5px;padding-left: 2px;">{{food.value.foodprice | currency}} </div>
              <div style="font-weight: 500; font-size: 12px;padding-bottom: 5px;padding-left: 2px;">{{food.value.canteen}} • {{food.value.stall}} </div>
            </div>
            
          </div>
         
          <div style="margin:auto;" >
            <div style="display: inline-block;padding-right: 3px;">
              <button style="color:#FDDEA3; font-size: 12px; font-weight: 550; background-color: #54549E;padding: 8px;border-radius: 5px;" *ngIf="userRole === 'sponsor'"
              (click)="CartFood(food.value.id, food.value.foodname, food.value.userid)">Add to Cart</button>
            </div>
           
          </div>
          
        </div>

       
        <div style="position: absolute; right:0; top:0; ">
          <button style="background: transparent;" *ngIf="!food.value.favourites " (click)="addFoodbyFavourites(food.value.id)"><ion-icon  size="large" name="star-outline"></ion-icon></button>
          <button style="background: transparent;" *ngIf="food.value.favourites  " (click)="deleteFav(food.value.id)"><ion-icon  size="large" name="star-sharp"></ion-icon></button>
  
        </div>
       

        <!--Increase and decrease amount to be added to cart-->
        <!--<div *ngIf="userRole === 'sponsor'">
          <ion-button (click)="deductAmt(food.value.id)">-1</ion-button>
          {{food.key | cartitemcount: valueArray | async}}
          <ion-button (click)="addAmt(food.value.id)">+1</ion-button>
        </div>-->
      </ion-item>

      

    </ion-card>

    <p *ngIf="foodlist.length == 0">No Food Retrieved</p>

  </div>

  <!--Food data shown to students-->
  <div *ngIf="userRole === 'student'">

    <ion-card class='food_container' *ngFor="let food1 of foodlist">
      <ion-item *ngIf="food1.userlisted === true && food1.userdeleted === false && food1.canteendeleted === false">
       

        <div class="image-cropper">
          <img id="fdimg" width="100%" src={{food1.image}} />
        </div>
        <div style="display: flex; width: 65%;">

      
        <div style="flex: 6;">
          <div style="width:90%; height:max-content;display: inline-block;padding-right: 10px;">
            <div style="font-family: 'Segoe UI';font-size: 13px;color:black;font-weight: 650;padding-bottom: 5px;padding-left: 2px;">{{food1.foodname}}</div>
            <div style="font-weight: 500; font-size: 12px;padding-bottom: 5px;padding-left: 2px;">{{food1.foodprice | currency}} </div>
           <div style="font-weight: 500; font-size: 12px;padding-bottom: 5px;padding-left: 2px;">{{food1.canteen}} • {{food1.stall}} </div>
          </div>
           
          
           
          <div style="width:90%; height:max-content;padding-right: 8px;padding-bottom: 20px;">
              <div style="display: inline-block;">
                <div style="font-family: 'Segoe UI';font-size: 10px;font-weight: 550;padding-left: 2px;padding-right: 10px;"><i>Available Qty: {{food1.availquantity}} </i></div>
              </div>
            </div>
        </div>
        
        <div style="margin:auto;" >
          <div style="display: inline-block;padding-right: 3px;">
            <button style="color:#FDDEA3; font-size: 12px; font-weight: 550; background-color: #54549E;padding: 8px;border-radius: 5px;" *ngIf="userRole === 'student' && stampsLeft > 0 && orderid === '' && ordersMadeTday === false"
        (click)="RedeemFood(food1.id, food1.foodname, food1.foodprice, food1.userid)"
        size="small" >REDEEM</button>
          </div>
        </div>
        
           
        
      </div>
       
      <div style="position: absolute; top:0; right:0;" >
        <button style="background: transparent;" *ngIf="!food1.favourites " (click)="addFoodbyFavourites(food1.id)"><ion-icon  size="large" name="star-outline"></ion-icon></button>
        <button style="background: transparent;" *ngIf="food1.favourites  " (click)="deleteFav(food1.id)"><ion-icon  size="large" name="star-sharp"></ion-icon></button>

      </div>

        <!--<div style="font-weight: 550; font-size: 15px; padding-right: 20px;">{{food1.foodname}} </div> 
        <div style="font-weight: 500; font-size: 12px;">{{food1.canteen}} • {{food1.stall}} </div>
        <div style="font-weight: 500; font-size: 12px;">{{food1.foodprice | currency}} </div>
          <div style="font-weight: 500; font-size: 12px;">{{food1.availquantity}}</div>-->

     

         
      </ion-item>
    </ion-card>
    <!--Shown for students-->
    <p *ngIf="foodlist.length ==0">No Food Retrieved</p>

  </div>

</ion-content>