<ion-header>
  <ion-toolbar >

    <ion-title>All Vendor Orders</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  
 
  <ion-segment scrollable (ionChange)="dateChanged($event)" value={{today}}>
    <ion-segment-button value ={{today}}>
      <ion-label>{{today | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value ={{ytd}}>
      <ion-label>{{ytd | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value ={{ytdMinus1}}>
      <ion-label>{{ytdMinus1 | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value ={{ytdMinus2}}>
      <ion-label>{{ytdMinus2 | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value ={{ytdMinus3}}>
      <ion-label>{{ytdMinus3 | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value ={{ytdMinus4}}>
      <ion-label>{{ytdMinus4 | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
     <ion-segment-button value ={{ytdMinus5}}>
      <ion-label>{{ytdMinus5 | date: 'dd MMM'}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngFor="let order of newOrderArray| keyvalue;">
   
    <ion-card>
     
      <div style="text-align:center;">
        
        <h6 style="text-decoration: underline; font-weight: bold;">
          <ion-icon name="person-outline"></ion-icon>
          {{order.key | adminorders: vendorArray2 | async}}
        </h6>
        <div style="font-size: 14px; display:flex;">
          <div id="canteen">
            <ion-icon name="restaurant-outline"></ion-icon>
            {{order.key | adminOrderCanteen: vendorArray2 | async}}
          </div>
          <div style="flex:1;"> - </div>
          <div id="stallname">
            <ion-icon name="storefront-outline"></ion-icon>
            {{order.key | adminOrderStallName: vendorArray2 | async}}
          </div>
        </div>
      </div>
    
      <ion-item  *ngFor="let o of order.value" id="orderData">

        <div style="display:flex; width:100%;">
          <div style="flex:1;">
            <div id="foodname">
              {{o.foodname}} 
            </div>
            <div id="userid"  *ngIf="o.foodprice != null">
              Bought By: {{o.userID}}
            </div>
          </div>
          <div>
            <div *ngIf="o.foodprice != null" id="foodprice_date">
              <div>
                  <ion-badge color="primary">${{o.foodprice}}</ion-badge>
              </div>
             
              <div id="date">
                {{o.date?.toDate() | date: 'mediumTime'}}
              </div>
              
            </div>
            <div *ngIf="o.foodprice == null">
              <ion-badge color="success" style="font-size: 18px;">Total Cost: ${{o}}</ion-badge>
            </div>
          </div>
        </div>
      
      </ion-item>
   
    </ion-card>
    <br>
  
  </div>

  <p *ngIf = "newOrderArray.length == 0; then NoData;"></p>
  <ng-template #NoData>No Data Retrieved</ng-template>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-datetime id="date_calendar" (ionChange)="dateChanged2($event)" [max]='today3'></ion-datetime>
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
