<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="goSignUp()">Sign Up Testing</ion-button>

  <form [formGroup] = "login_form" (ngSubmit)="login(login_form.value)">
    <ion-card>
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="Enter your email"></ion-input>
        <ion-icon *ngIf="email.invalid && (email.dirty || email.touched)" name ="alert-circle" color="danger"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input #password1 type="password" formControlName="password" placeholder="Enter your password"></ion-input>
        <ion-icon *ngIf="password.invalid && (password.dirty || password.touched)" name="alert-circle" color="danger"></ion-icon>
        <ion-icon *ngIf="password1.type == 'text'" name="eye" (click)="showPassword1(password1)"></ion-icon>
        <ion-icon *ngIf="password1.type == 'password'"name ="eye-outline" (click)="showPassword1(password1)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-button type="submit" [disabled] = "!login_form.valid">Proceed</ion-button>

  </form>
  
</ion-content>
