<ion-header>
  
</ion-header>

<ion-content>  
  <div style="position: absolute; right:0; padding: 20px;">
    <ion-icon (click)='aboutus_modal()' size=large name="information-circle-outline"></ion-icon> 
  </div>
  
  <img id="Logo" src="./assets/Logo.png" />
  <img id="TYN" src="./assets/TYN.png"/>
  <img id="RICE" src="./assets/RICE.png"/>

  
  <form [formGroup] = "login_form" (ngSubmit)="login(login_form.value)">
    <!--Error messages-->
    <div>
      <h6 style="width: 100%;font-family: 'Segoe UI'; color: red; font-weight: 500; font-size: 12px; text-align: center; margin: auto;" *ngIf="email.invalid && (email.dirty || email.touched)">
        Email is invalid. Must be in all lower case
      </h6>
      <h6 style="width: 100%;font-family: 'Segoe UI'; color: red; font-weight: 500; font-size: 12px; text-align: center; margin: auto;" *ngIf="password.invalid && (password.dirty || password.touched)">
        Password has to have minimum of 7 characters
      </h6>
    </div>
    

    <ion-card>
      <ion-item>
        <ion-input class="userinput" required type="email" formControlName="email" placeholder="Email"></ion-input>
        <ion-icon *ngIf="email.invalid && (email.dirty || email.touched)" name ="alert-circle" color="danger"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item >
        <ion-input class="userinput" required #password1 type='password' formControlName="password" placeholder="Password"></ion-input>
        <ion-icon *ngIf="password.invalid && (password.dirty || password.touched)" name="alert-circle" color="danger"></ion-icon>
        <ion-icon *ngIf="password1.type == 'text'" name="eye" (click)="showPassword1(password1)"></ion-icon>
        <ion-icon *ngIf="password1.type == 'password'"name ="eye-outline" (click)="showPassword1(password1)"></ion-icon>
      </ion-item>
    </ion-card>
   
   <div id= btn>
    <ion-button fill=clear class= "buttons" type="submit" [disabled] = "!login_form.valid">LOGIN</ion-button>
    <ion-button fill=clear class="buttons" (click)="goSignUp()">Sign Up</ion-button>
    <!--
    <ion-button fill=clear class="buttons" style="font-size: 14px;" (click)="passwordreset()">Forget Password?</ion-button>-->
    <!--<ion-button fill=clear class= "input">SIGN-UP</ion-button>-->
  </div>

  
  </form>

 
</ion-content>
