<ion-header>
  <ion-toolbar>
    <ion-title>Foods</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-select placeholder="Select Vendor" (ionChange)="SelectVendorAcc($event)">
        <ion-select-option  *ngFor="let acc of vendoracc" value={{acc.id}}>{{acc.id}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

 
  <ion-card *ngFor="let food of foodData">
    <ion-item>
      <img src="{{food.image}}" alt='image' width="50%;" />
      <div>{{food.foodname}}</div>
    </ion-item>
  </ion-card>
    

  <div style="text-align: center; position: relative; top:30%;" *ngIf="foodData.length == 0">
    No Food Retrieved
  </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currentAcc != null">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/modal-addfood', currentAcc]">Add Food</ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
