<ion-header>
  <ion-toolbar>
    <ion-title>Foods</ion-title>
    <ion-icon name="arrow-back-outline" slot="start" (click)="dismiss()" style="font-size: 30px; padding-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card *ngFor="let food of foodData">
    <ion-item>
      <img src="{{food.image}}" alt='image' width="50%;" />
      <div>
        <h5>{{food.foodname}}</h5>
        <ion-button [routerLink]="['/modal-editdelfood', food.id]">Edit</ion-button>
        <ion-button (click)="deleteFoodPopUp(food.id, food.foodname)">Delete</ion-button>
      </div>
    </ion-item>
  </ion-card>


  <div style="text-align: center; position: relative; top:30%;" *ngIf="foodData.length == 0">
    No Food Retrieved
  </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currentAcc != null">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/modal-addfood', currentAcc]">Add Food</ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
